.fullBox {
  height: 100%; width: 100%;
  background-color: #353535;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -255;
}

.sitesPanel {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
}

.siteBox {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.addButton {
  position: fixed;
  top: 40px; right: 40px;
  z-index: 110;
}

.sideDrawer {
  position: absolute;
  top: 0; right: 0;
  height: 100%; width: 320px;
  z-index: 120;
  background-color: aquamarine;
}

.siteIcon {
  height: 96px; width: 96px;
  border-radius: 6px;
  background-color: blue;
}

.siteName {
  margin-top: 10px;
  font-size: 15px;
  height: 19px;
  line-height: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteForm {
  /* display: flex;
  flex-direction: row; */
}

.inputBox {
  width: 300px;
}

.inputField {
  height: 32px; width: 100%;
  padding: 8px; margin: 8px;
  padding-right: 32px;
  font-size: 15px;
}

.testButton {
  width: 170px;
}

.fullScreen {
  position: fixed;
  height: 100%; width: 100%;
  background-color: blueviolet;
  display: flex;
  flex-direction: row-reverse;
}