.fullBox {
  height: 100%;
  width: 100%;
  background-color: #353535;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -255;
}

.sitesPanel {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
}

.siteBox {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.addButton {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 110;
}

.sideDrawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  z-index: 120;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteIcon {
  height: 96px;
  width: 96px;
  border-radius: 6px;
}

.siteName {
  margin-top: 10px;
  font-size: 15px;
  height: 19px;
  line-height: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteForm {
  width: 300px;
}

.inputField {
  height: 32px;
  width: 100%;
  /* padding: 8px;
  margin: 8px;
  padding-right: 32px; */
  font-size: 15px;
}

.siteIconBox {
  display: flex;
  align-items: flex-end;
}

/* .customButton {
  font-size: 13px;
  color: rgb(69, 161, 255);
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
} */

.actionButton {
  font-size: 24px;
  width: 120px;
}

.webIconInput {
  width: 100%;
  margin-top: 24px;
}

.formSection {
  width: 100%;
  margin: 30px 0;
}

.actionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repeatInput {
  /* height: 40px; */
  width: 100%;
}

.fileInputBox {
  position: relative;
  overflow: hidden;
}

.fileInput {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}

/* .outerCircle {
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 50%;
} */

.radioItem {
  height: 18px;
  width: 18px;
  padding: 2px;
  margin: 5px 0;
  cursor: pointer;
  border: transparent 2px solid;
  border-radius: 50%;
  background-clip: content-box;
  background-size: 35%;
}

.radioItem:hover {
  transform: scale(1.1);
}

.colorRadios .radioItem:last-child {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-image: url(/images/color-picker.png);
}

.colorRadios {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}

.colorRadiosBox {
  position: relative;
  width: 300px;
}

.colorPicker {
  position: absolute;
  top: 40px;
  right: 0;
}
