.fullBox {
  height: 100%;
  width: 100%;
  background-color: #353535;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* ===============ImageCrop_CP======================= */
.fullScreenModel {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.imageCropBox {
  width: 310px;
  padding: 25px;
  background-color: white;
  box-sizing: content-box;
}

/* -------------------------------------- */
.cropWrapper {
  height: 310px;
  width: 310px;
  background-color: aqua;
  position: relative;
}

.cropWrapperWithImg {
  composes: cropWrapper;
  background-image: url(/images/transparent.png);
  background-repeat: repeat;
  background-size: 7px;
}

.showImageBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 310px;
  width: 310px;
  overflow: hidden;
}
.zoomImageBox {
  position: absolute;
}

.userImage {
  height: 100%;
  width: 100%;
}

.remakeCropperBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.resizeCropperBox {
  position: absolute;
  cursor: move;
}

.horizenSignBox {
  position: absolute;
  top: 33.33333%;
  left: 0;
  height: 33.33333%;
  width: 100%;
  border: 0 dashed #eeeeee;
  border-width: 1px 0;
  opacity: 0.75;
}

.verticalSignBox {
  position: absolute;
  top: 0;
  left: 33.33333%;
  height: 100%;
  width: 33.33333%;
  border: 0 dashed #eeeeee;
  border-width: 0 1px;
  opacity: 0.75;
}

.cropperCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 0;
  width: 0;
  opacity: 0.75;
}

.cropperCenter::before {
  top: 0;
  left: -3px;
  height: 1px;
  width: 7px;
}
.cropperCenter::after {
  top: -3px;
  left: 0;
  height: 7px;
  width: 1px;
}
.cropperCenter::before,
.cropperCenter::after {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eeeeee;
}
.cropper-line,
.cropper-point {
  background-color: #39f;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.cropperLineN {
  composes: cropper-line;
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize;
}
.cropperLineE {
  composes: cropper-line;
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize;
}
.cropperLineS {
  composes: cropper-line;
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize;
}
.cropperLineW {
  composes: cropper-line;
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize;
}
.cropper-point {
  height: 5px;
  width: 5px;
  opacity: 0.75;
}
.cropperPointN {
  composes: cropper-point;
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.cropperPointE {
  composes: cropper-point;
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}
.cropperPointS {
  composes: cropper-point;
  left: 50%;
  bottom: -3px;
  margin-left: -3px;
  cursor: s-resize;
}
.cropperPointW {
  composes: cropper-point;
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}
.cropperPointNE {
  composes: cropper-point;
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
.cropperPointNW {
  composes: cropper-point;
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.cropperPointSE {
  composes: cropper-point;
  bottom: -3px;
  right: -3px;
  cursor: se-resize;
}
.cropperPointSW {
  composes: cropper-point;
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
/* ------------------------------------------ */

.adjustBox {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftButton {
  width: 48px !important;
  min-width: 48px !important;
  height: 30px !important;
  min-height: 30px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rightButton {
  margin-left: 5px !important;
  width: 48px !important;
  min-width: 48px !important;
  height: 30px !important;
  min-height: 30px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.singleButton {
  width: 66px;
  height: 30px !important;
  min-height: 30px !important;
}

.switchModelButton {
  height: 40px;
  width: 100%;
}

/* ====================================== */
.sitesPanel {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
}

.siteBox {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.addButton {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 110;
}

.sideDrawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  z-index: 120;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteIcon {
  height: 96px;
  width: 96px;
  border-radius: 6px;
}
.siteIconWithImg {
  composes: siteIcon;
  background-image: url(/images/transparent.png);
  background-repeat: repeat;
  background-size: 7px;
}
.resultImg {
  height: 100%;
  width: 100%;
}
.siteName {
  margin-top: 10px;
  font-size: 15px;
  height: 19px;
  line-height: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteForm {
  width: 300px;
}

.inputField {
  height: 32px;
  width: 100%;
  /* padding: 8px;
  margin: 8px;
  padding-right: 32px; */
  font-size: 15px;
}

.siteIconBox {
  display: flex;
  align-items: center;
}

.actionButton {
  font-size: 24px;
  width: 120px;
}

.formSection {
  width: 100%;
  margin: 20px 0;
}

.actionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repeatInput {
  /* height: 40px; */
  width: 100%;
}

.fileInputBox {
  margin-left: 15px;
}
.fileInputBtn {
  padding: 4px 6px;
  color: #3f51b5;
  cursor: pointer;
}
.fileInputBtn:hover {
  background-color: rgba(63, 81, 181, 0.08);
}
.fileInput {
  display: none;
}

/* ------------ */

.radioItem {
  height: 18px;
  width: 18px;
  padding: 2px;
  margin: 5px 0;
  cursor: pointer;
  border: transparent 2px solid;
  border-radius: 50%;
  background-clip: content-box;
}

.radioItem:hover {
  transform: scale(1.1);
}

.colorRadios .radioItem:first-child {
  background-image: url(/images/transparent.png);
  background-size: 35%;
  background-repeat: repeat;
}

.colorRadios .radioItem:last-child {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-image: url(/images/color-picker.png);
}

.colorRadios {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}

.colorRadiosBox {
  position: relative;
  width: 300px;
}

.colorPicker {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 140;
}
